/* card */
  .cardsingle{
    padding-left:23px;
    padding-bottom:20px;
    margin-top:-10px;
    font-size:15px;
    font-family:Arial;
    
  }
  
  .single{
    margin-left:780px;
    margin-right:12px;
    background-color:#FDD2BF;
  }
  
  .cardbody{
    margin-top:10px;
  }


  /* Modal button open here */
  .buttopenhere{
    background-color:#B5EAEA;
  }
  
  .modal-body{
    padding-left:10px;
    margin-left:40px;
  }
  
  
  /* card scroll */
  .scroll {
    max-height: 100px;
    overflow-y: auto;
    padding-left:25px;
    padding-right:5px;
    padding-top:10px;
    padding-bottom:3px;
    width:1152px;
    text-align: left;
  }
  
  .scrollText{
    width:100%;
  }
  
  
  /* card content */
  .cardContent{
    margin-left:25px;
  }
  
  
  b{
    color:black;
    font-family: Arial;
  }
  
  p{
    font-family: Arial;
    font-weight: 900px;
  }
  
  .text-left{
    margin-left:-20px;
    
  }
  