<app-filter></app-filter>


<!-- Ag-Grid-Table -->

<ag-grid-angular
style="height:300px;width:100%;padding-left:24px;padding-right:24px;font-size:12px;font-family:Arial"
class="ag-theme-balham"
[rowData]="rowData"
[columnDefs]="columnDefs"
pagination = "true" 
[paginationPageSize]="pageSize"
(paginationChanged)='onPaginationChanged($event)'
animateRows = "true"
enableSorting = "true"
rowHeight=29
rowSelection="single"
enableCellExpressions="true"
(rowClicked) = 'onRowClicked($event)'
unSortIcon="true"
>
</ag-grid-angular>



 <app-message-card></app-message-card>




     

      