/* date range picker */
.date{
  margin-left:30px;
  margin-top:20px;
  margin-bottom:20px;
  width:245px;
  font-size:15px;
}

input[type="text"] {
  font-size:15px;
  border-color:#B2B1B9;
  height:38px;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  height: 2.30rem;
}


::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
  max-height: 25px !important; 
}

.form-group.hidden {
width: 0;
margin: 0;
border: none;
padding: 0;
}

.custom-day {
text-align: center;
padding: 0.185rem 0.25rem;
display: inline-block;
height: 2rem;
width: 2rem;
}

.custom-day.focused {
background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
background-color: rgb(2, 117, 216);
color: white;
}

.custom-day.faded {
background-color: rgba(2, 117, 216, 0.5);
}


/* to display filters */
.filter{
    display:flex;
}


/* card */
.cardsingle{
  padding-left:23px;
  padding-bottom:20px;
  margin-top:-10px;
  font-size:15px;
  font-family:Arial;
  
}

.single{
  margin-left:780px;
  margin-right:12px;
  background-color:#FDD2BF;
}

.cardbody{
  margin-top:10px;
  
  
}
/* Modal button open here */
.buttopenhere{
  background-color:#B5EAEA;
}

.modal-body{
  padding-left:10px;
  margin-left:40px;
}

/* message drop down */
.message{
  margin-left:90px;
  margin-top:20px;
  margin-bottom:20px;
  width:230px;
}

.dropbuttmessage{
  width:200px;
  padding-right:100px;
  margin-left:40px;
}


/* From drop down */
.from{
  margin-left:30px;
  margin-top:20px;
  margin-bottom:20px;
  width:230px;
  
}
.dropDownScroll{
  max-height: 200px;
  overflow-y: auto;
  max-width:200px;
}

.dropbuttfrom{
  width:200px;
  padding-right:100px;
  
}


/* apply button */
.applybutt{
  border-color:#04009A;
  height:35px;
  width:90px;
  margin-top:21px;
  margin-left:60px; 
  margin-right:2px;
}
/* reset button */
.resetbutt{
  border-color:#04009A;
  height:35px;
  width:90px;
  margin-top:21px;
  margin-left:20px;
}

/* card scroll */
.scroll {
  max-height: 100px;
  overflow-y: auto;
  padding-left:25px;
  padding-right:5px;
  padding-top:10px;
  padding-bottom:3px;
  width:1152px;
  text-align: left;
}

.scrollText{
  width:100%;
}


/* card content */
.cardContent{
  margin-left:25px;
}


b{
  color:black;
  font-family: Arial;
}

p{
  font-family: Arial;
  font-weight: 900px;
}

.text-left{
  margin-left:-20px;
  
}
