/* @import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css"; */

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
/* html, body { height: 100%; }
body { margin: 50px; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* body {  font-family: Roboto, "Helvetica Neue", sans-serif; } */